


#Certification-Container {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column: 2 / 3;
  border: 3px solid red;
  border-radius: 20px;
  padding: 5px;
}

.individual-certification{
  display: grid;
  grid-column: 1 / 2;
}

